canvas {
  // display: flex;
  // flex-direction: column;
  // flex-flow: wrap;
  width: 400px;
  height: 200px;
}

.sounds {
  display: flex;
  align-content: center;
}

.waveform, .sound-pulse, .sound-bar {
  display: flex;
  flex-direction: column;
}

audio {
  background-color: white;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

input {
  font-family: Roboto, sans-serif;
  font-weight: 200;
}